@model About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <h3 class="mb-0">Hakkımda Düzenleme Sayfası</h3>
    </div>
    <div class="card-body">
        <form method="post">

            <input type="hidden" asp-for="AboutID" />

            <label>Başlık</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />

            <label>Görsel Yolu</label>
            <input type="text" asp-for="ImageUrl" class="form-control" />
            <br />

            <label>Yaş</label>
            <input type="text" asp-for="Age" class="form-control" />
            <br />

            <label>E-Posta</label>
            <input type="text" asp-for="Email" class="form-control" />
            <br />

            <label>Telefon</label>
            <input type="text" asp-for="Phone" class="form-control" />
            <br />

            <label>Açık Adres</label>
            <input type="text" asp-for="Address" class="form-control" />
            <br />

            <label>Açıklama</label>
            <textarea rows="5" cols="3" asp-for="Description" class="form-control"></textarea>
            <br />

            <button class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

