@model About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="row">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hakkımda Düzenleme Sayfası</h4>
                <form method="post">

                    <input type="hidden" asp-for="AboutID" />

                    <label>Başlık</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <br />

                    <label>Görsel Yolu</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <br />

                    <label>Yaş</label>
                    <input type="text" asp-for="Age" class="form-control" />
                    <br />

                    <label>E-Posta</label>
                    <input type="text" asp-for="Email" class="form-control" />
                    <br />

                    <label>Telefon</label>
                    <input type="text" asp-for="Phone" class="form-control" />
                    <br />

                    <label>Açık Adres</label>
                    <input type="text" asp-for="Address" class="form-control" />
                    <br />

                    <label>Açıklama</label>
                    <textarea rows="5" cols="3" asp-for="Description" class="form-control"></textarea>
                    <br />

                    <button class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>


