@model Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <h3 class="mb-0">Yeni Proje Girişi</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <label>Proje Başlığı</label>
            <input type="text" asp-for="Name" class="form-control" />
            <br />

            <label>Görsel 1</label>
            <input type="text" asp-for="ImageUrl" class="form-control" />
            <br />
            
            <label>Görsel 2</label>
            <input type="text" asp-for="ImageUrl2" class="form-control" />
            <br />
            
            <label>Proje Url</label>
            <input type="text" asp-for="ProjectUrl" class="form-control" />
            <br />
           
            <button class="btn btn-success">Kaydet</button>
        </form>
    </div>
</div>
