@model Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <h3 class="mb-0">Öne Çıkanlar Post Düzenleme Sayfası</h3>
    </div>
    <div class="card-body">
        <form method="post">

            <input type="hidden" asp-for="FeatureID" />

            <label>Başlık</label>
            <input type="text" asp-for="Header" class="form-control" />
            <br />
            <label>Ad Soyad</label>
            <input type="text" asp-for="Name" class="form-control" />
            <br />
            <label>Görev</label>
            <input type="text" asp-for="Title" class="form-control" />
            <br />
            <button class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>

